table, td{
    border: 2px solid black;
}

table{
    margin-bottom: 20px;
}

.icone{
    width: 45px;
    height: 35px;
}

.btnExcluir{
   /*background-size: 36px 29px;*/
    width: 62px;
    height: 35px;
    color: black;
    background-color: red;
   }
